= wrap_layout :layout do
  %small.divider Blog
  %date.column.one-quarter="Posted #{current_article.date.strftime('%B %e, %Y')}"
  %article.column.three-quarters
    %h1.title=current_article.title
    %div.blog-content
      = yield
    %div.metadata
      = partial :tags, locals: {item: current_article, path_prefix: "blog"}
      = partial :post_navigation, locals: {label: "post"}
