= wrap_layout :layout do
  %small.divider Blog
  %article
    %h1.title=current_article.title
    %date="Posted #{current_article.date.strftime('%B %e, %Y')}"
    = yield
    %div.metadata
      = partial :tags, locals: {item: current_article, path_prefix: "blog"}
      = partial :post_navigation, locals: {label: "post"}
