<!doctype html>
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{:'http-equiv' => "Content-Language", content: "en-us"}
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"}
    %meta{name: "copyright", content: config.site_title}
    %meta{name: "description", content: config.description}
    %meta{name: "keywords", content: "philadelphia, design, illustration, web development, software development, art, mike ball"}
    %link{rel: "shortcut icon", href: "/favicon.ico", type: "image/x-icon"}
    %title= config.site_title
    = stylesheet_link_tag "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Fira+Mono:400,700"
    = javascript_include_tag  "all"
  %body{:class => page_classes}
    %header
      %h1
        %a{href: "/", title: 'Home'}
          = config.site_title
    %section.content
      = yield
    %footer
      %h1.divider Info
      %p I live in Philadelphia and work as a software developer and designer.
      %p I am especially excited to work with journalists, artists, and nonprofits. I like to work in JavaScript, Ruby, new technologies, and on open source projects. I want to use technology to make cities more livable.</p>
      %h1.divider Etc.
      %ul
        %li
          %a{href: "/atom.xml"}Atom Feed
        %li
          %a{href: "/rss.xml"}RSS Feed
        %li
          %a{href: "http://github.com/mdb"}GitHub
        %li
          %a{href: "http://twitter.com/clapexcitement"}Twitter
    %script{type: "text/html", id: "instagram-template"}
      %ul
        {[ _.each(items, function(item, key, list) { ]}
        %li
          %a{href: "{{ item.url }}"}
            %img{src: "{{ item.imgSrc }}"}
        {[ }); ]}
    :javascript
      $(document).ready(function () {
        $('.instagram').instagram({
          userId: '34976175',
          accessToken: '34976175.bb5f688.2b944bea0640423eb24ce7b10af031f0'
        });
      });
    - unless development?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-54324621-1', 'auto');
        ga('send', 'pageview');
