- wrap_layout :layout do
  %div.content-wrap
    %div.content.project
      %div.column.images
        - current_article.data.images.each do |img|
          %img{:src => "/images/projects/work/#{img}"}
      %div.column.description
        %date="#{current_article.data.date_completed}"
        %h1.divider=current_article.title
        = partial :tags, :locals => {:item => current_article, :path_prefix => "projects"}
        = yield
        = partial :post_navigation, :locals => {:label => "project"}
  %div.content-wrap.secondary
    %div.content
      %h1.divider More Recent Projects
      = partial :project_gallery, :locals => {:exclude => current_article}
