- wrap_layout :layout do
  %div.content-wrap
    %div.content
      %div.column
        - current_article.data.images.each do |img|
          %img{:src => "/images/projects/work/#{img}"}
      %div.column
        %h1=current_article.title
        %date="#{current_article.data.date_completed}"
        = yield
        = partial :tags, :locals => {:item => current_article, :path_prefix => "projects"}
  %div.content-wrap.secondary
    %div.content
      %h1.divider More Recent Projects
      = partial :project_gallery, :locals => {:exclude => current_article}
