= wrap_layout :layout do
  %div.project
    %h1.divider Projects
    %div.images
      - if current_article.data.images
        - current_article.data.images.each do |img_data|
          - if img_data.is_a? String
            %img{src: "/images/projects/work/#{img_data}"}
          - elsif img_data[:nested]
            = partial :nested_images, locals: {image_data: img_data}
          - else
            = partial :slideshow, locals: {image_data: img_data}
    %date.column.one-quarter="#{current_article.data.date_completed}"
    %div.column.three-quarters
      %h2=current_article.title
      = yield
      = partial :tags, locals: {item: current_article, path_prefix: "projects"}
      = partial :post_navigation, locals: {label: "project"}
  %h1.divider More Recent Projects
  = partial :project_gallery, locals: {exclude: current_article}
