<h1>Posts</h1>
<ul>
  <% for post in @posts %>
  <li>
    <h2><%= link_to post.title, post.permalink %></h2>
    <date>Published <%= post.created_at.strftime("%B %-d, %Y") %></date>
    <% if post.thumbnail_file_name %>
      <%= image_tag post.thumbnail.url %>
    <% end %>
    <p><%= post.content %></p>
    <% if post.tag_list.length >= 1 %>
      <p>Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
    <% end %>
  </li>
  <% end %>
</ul>

<%= link_to 'New Post', new_post_path %>
